/*4 Cleaner Oceans StyleSheet
Group 2 - ITEC 4270 - Summer 2019

Color Scheme:
Logo Blue: #1c7bc0
Bright Teal: #17bebb
Off-White: #eaebed
Muted Turquoise: #006989
Light Grey-Blue: #a3bac3
Almost Black: #0d1f2d

*/



/* Universal Styles */
@media all{
	html{		
					height: 100%;
	}

	body{
					background-image: url(Imgs/ocean2.jpg);
					background-repeat: no-repeat;
					background-size: cover;
					background-attachment:fixed;
					font-family: 'Raleway', sans-serif;
					font-size: 18px;
	}

	h1, h2 {
					text-align: center;
	}

	.center-text{
					text-align:	center;
	}



/* all pages - navbar */
	body > .navbar {
					background-color: #eaebed;
	}
	.navbar-default .navbar-nav > li > a {
		color: #006989;
	}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
					background-color:#a3bac3;
					color: #eaebed;
	}

	.loginform{
					min-width: 275px;
					padding: 20px;
	}

	label {
					font-weight:normal;
	}

/* all pages text and footer */
	div.jumbotron{
					background-color: #eaebed;
					opacity: .6;
					color: #006989;
	}

	footer {
					background-color:#eaebed;
					width:100%;
					bottom:0;
					padding-top: 10px;
	}
	hr {
					border: .5px #006989 solid;
	}

	.footer-img {
					width: 60%;
					background-color:#eaebed;
					margin: 10px;
	}

	.footer-list {
					list-style-type:none;
					color:#006989;
	}
	.contact-row {
					background-color:#eaebed;
					color:#006989;
	}

/* Home Page Styling */
.home-image {
					max-width:100%;
					height: auto;
					margin:0 auto;
}
/* About Page Styling */



/*Get Involved Page Styling*/
#fundly-widget {
					padding: 15px;
}
iframe {
					border:none;
					min-width: 310px;
					width:100%;
					height:510px;
					padding-bottom:15px;
}

.gi-photo{
					max-width:100%;
					padding-bottom: 15px;
}
#reduce-link {
					font-size: 1.1em;
}


/* Event Page Styling */
.thumbnail {
					width:100%;
					height: 315px;
					overflow:hidden;
					position:relative;
					margin:10px;

}
.thumbnail:hover .event-text{
					opacity:.9;
}

.event-text {
					position:absolute;
					top:0;
					left:0;
					height:100%;
					width:100%;
					background:#eaebed;
					color:#006989;
					text-decoration: none;
					display:flex;
					align-items:center;
					justify-content:center;
					opacity:0;
					transition:opacity .5s;
}
.event-text a {
					text-decoration:none;
}

.event-image {
					line-height:0;
					height:240px;
					overflow:hidden;
					border:2px solid white;
					border-bottom:3px solid white;
}


/* Sign up Form Styling */
#sign-up-form	{
					opacity:.8;
					padding: 75px;
}



@media only screen and (max-width:850px){

	.logo{			
					margin: 0 auto;
					float:none;
	}

	.hometext{
					margin-top: 5px;
	}


				

}