/*4 Cleaner Oceans StyleSheet
Group 2 - ITEC 4270 - Summer 2019

Color Scheme:
Logo Blue: #1c7bc0
Bright Teal: #17bebb
Off-White: #eaebed
Muted Turquoise: #006989
Light Grey-Blue: #a3bac3
Almost Black: #0d1f2d


*/



/* Universal Styles */
@media all{
	html{		
					height: 100%;
	}

	body{
					background-image: url(Imgs/ocean2.jpg);
					background-repeat: no-repeat;
					background-size: cover;
					background-attachment:fixed;
					font-family: 'Raleway', sans-serif;
	}

	h1, h2{
					text-align: center;
	}

	.center-text{
					text-align:	center;
	}



/* all pages - navbar */
	body > .navbar {
					background-color: #eaebed;
	
	}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
					background-color:#a3bac3;
	}

/* HomePage Styling */

	.jumbotron{
					background-color: #eaebed;
					opacity: .6;
					color: #006989;
	}

/* About Page Styling */
	#about-text {
					width: 80%;
					text-align: center;
					margin:0 auto;
					padding-bottom: 40px;
	}


}

/* Event Page Styling */


.list-group-item{
					background-color: #eaebed;
					opacity:.8;
}

.list-group-item:hover {
					opacity: 1;
}



@media only screen and (max-width:850px){

	.logo{			
					margin: 0 auto;
					float:none;
	}

	.hometext{
					margin-top: 5px;
	}


				

}